.fundoPage{
  color: #e6e4e9!important;
  background-color: #282c80!important;
}

.buttonSwitch{
  background-color: #ddf3f2ec!important;
  color: black;
  border-radius: 4%;
}

.logo {
  width: 7%;
}
.icone-cadastro{
  font-size: 35px;
}

.corTextoPlanilha{
  color: #e6e4e9!important;
  border-radius: 4%;
}

.grid-container {
  width: 100%;
  height: calc(80vh - 3em);
  padding: 20px;
  margin-top: 10px;
  font-family: 'Archivo';
}

.grid-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-header .button-new {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  padding: 10px;
  border-radius: 12px;
  background: #3D8EB8;
  height: 64px;
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
  cursor: pointer;
}

.grid-header .button-new span {
  font-size: 24px;
  line-height: 100%;
  margin-left: 1em;
}

.grid-table {
  margin-top: 20px;
}

.grid-table table thead {
  color: #1F7AA3;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

.grid-table table tbody {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #211D28;
}

.grid-table table tbody tr {
  border: 1px solid rgba(169, 166, 166, 0.8);
}

.grid-table .button-edit-data {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #1F7AA3;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.grid-table .button-edit-data i {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.pagination-container {
  margin: 2em;
}
.img_logo{
  width:125px;
  height:90px;
  /*background-color: rgb(161, 46, 46);*/
  position: relative;
  top:-38px;
  right: 50px;
}
